In [1]:
import numpy as np
import pandas as pd
import sklearn

In [2]:
from sklearn.datasets import load_boston
df= load_boston()

In [3]:
boston = pd.DataFrame(df.data, columns=df.feature_names)
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [4]:
boston['VAL'] = df.target
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT   VAL
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [5]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
VAL        0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
a=boston.drop('VAL',axis=1)
b=boston['VAL']

a_train, a_test, b_train, b_test =train_test_split (a,b,test_size =0.15, random_state=5)

print(a_train.shape)
print(a_test.shape)
print(b_train.shape)
print(b_test.shape)

(430, 13)
(76, 13)
(430,)
(76,)

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [8]:
linear_mod =LinearRegression()
linear_mod.fit(a_train,b_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
b_train_pre =linear_mod.predict(a_train)
RMSE =(np.sqrt(mean_squared_error(b_train, b_train_pre)))
print("The model performance for training set")
print("RMSE is {}\n".format(RMSE))

b_test_pre =linear_mod.predict(a_test)
RMSE=(np.sqrt(mean_squared_error(b_test, b_test_pre)))
print("The model performance for testing set")
print("RMSE is {}".format(RMSE))

The model performance for training set
RMSE is 4.710901797319796

The model performance for testing set
RMSE is 4.687543527902972